# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.vscode/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Backup outputs
# ===============================
outputs/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary
# ===============================
vNetwork/
*.tmp
*.bak
